.gradle
.idea
local.properties
*.iml
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.hprof
*.log
*.swp
*~
.gradle/
gradle.properties.local
